# Set to true to run database migrations on startup, false to skip migrations.
RUN_MIGRATION=true 
PORT=3000
# Update with your PostgreSQL connection details
POSTGRES_URI=postgresql://user:password@localhost:5422/database_name 
FILE_DATA_CSV=./data/data_simulated.csv
MONGO_URI=mongodb://localhost:27017/saludplus_v4