version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: saludplus-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-saludplus}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-saludplus}
      POSTGRES_DB: ${POSTGRES_DB:-saludplus}
    ports:
      - "5422:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongo:
    image: mongo:7
    container_name: saludplus-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  postgres_data:
  mongo_data:
